@font-face {
    font-family: 'pirulen';
    src: url('../fonts/pirulen.woff') format('woff2'),
         url('../fonts/pirulen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: black;
}
*{
    color: white;
    font-family: pirulen;
}
.wrapper{
    background: url("../images/background.jpg");
}
img {
    border-radius: 25%;
}
#chatComment, #submit, #quit-button{
    color: black;
    font-family: pirulen;
}
#quit-button{
    text-align: center;
    margin: auto;
}
#scissors, #paper, #rock, #player1-name, #player2-name{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#game-stats{
    margin: 0 auto;
}
